@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
	font-family: $font_name;
	font-display: swap;
	src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
	font-weight: #{$weight};
	font-style: #{$style};
	}
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Inter:wght@500&display=swap');
